/* 流程信息 */
.base-info {
    border: 1px dashed #E0808C;
    border-radius: 3px;
    background-color: #EADADC;
    padding: 20px;
    line-height: 1.5;
}
.base-info .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.base-info label {
    margin-left: 10px;
}
.base-info .el-radio__label {
    padding-left: 5px;
}
.step {
    border: 1px dashed #9DDBF5;
    border-radius: 3px;
    background-color: #DAF3F3;
    position: relative;
    margin-top: 40px;
}
.step::before {
    content: attr(data-title);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 5px auto;
    display: block;
    position: absolute;
    left: 0;
    bottom: 100%;
    right: 0;
}
.start {
    background-color: #E9F2DB;
}
.end {
    background-color: #DADAF3;
}
.events {
    padding: 10px;
    border-bottom: 1px solid #999;
}
.process {
    padding: 10px 10px 10px 0;
}
.input-sm {
    width: 30px;
}
.input-md {
    width: 50px;
}
.step-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.step-item:last-child {
    margin-bottom: 0;
}
.step-item .name {
    text-align: center;
    flex: 0 0 60px;
}
.step-item .input {
    flex: 1;
}

.step-item .name .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #02A7F0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.step-item .name span {
    display: inline-block;
    width: 2em;
    line-height: 1;
}
.step-item .name .sm {
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
}
.step-item .target-name .icon {
    margin-bottom: 40px;
}
.step-item .target-name1 .icon {
    margin-bottom: 25px;
}
.step-item .el-form-item {
    margin-bottom: 0;
}
.step-item .el-input__inner {
    height: 30px;
    line-height: 30px;
}
.step-item .time {
    display: flex;
    align-items: center;
}
.step-item .time span {
    margin: 0 4px;
}
.step-item .target-item, .step-item .target-sub-item {
    display: flex;
    align-items: center;
}
.step-item .target-sub-item + .target-sub-item, .step-item .target-item + .target-item {
    margin-top: 10px;
}
.step-item .target-sub-item > span, .step-item .target-item > span {
    margin: 0 4px;
}
.step-item .el-radio {
    margin-right: 10px;
}
.step-item .el-radio__label {
    padding-left: 5px;
}
.step-item .el-input__inner {
    padding: 0 5px;
}